<footer class="footer">
  <div class="border_wrapper">
    <div class="container">
      <div class="footer_catalog">
        <div class="footer_item footer_item_heading">Наши контакты</div>
        <div class="footer_item footer_item_heading">Услуги завода</div>
        <div class="footer_item footer_item_heading">On-line сервис</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="footer_catalog">
      <div class="footer_item">
        <div class="header_phone_wrapper">
          <a href="tel:+7 (495) 1200-66-3" class="header_phone">
            +7 (495) 1200-66-3
          </a>
          <a href="tel:+7 (800) 775-37-26" class="header_phone">
            +7 (800) 775-37-26
          </a>
        </div>

        <a href="mailto:ramzavod@mail.ru" class="footer_email">
          ramzavod@mail.ru
        </a>

        <div class="header_loc_wrapper">
          <div class="header_loc">
            Московская область, Раменское,<span class="db"></span> Дорожный
            проезд, д. 11
          </div>
          <span class="header_date">Понедельник - Суббота: 9:00 - 18:00</span>
        </div>
      </div>

      <div class="footer_item">
        <ul class="footer_usl">
          <li>Изготовление металлоконструкций</li>
          <li>Монтаж металлоконструкций</li>
          <li>Строительные работы</li>
          <li>Услуги по проектированию</li>
          <li>Транспортировка металлоконструкций</li>
        </ul>
      </div>

      <div class="footer_item">
        <div class="header_link call--js">Отправить заявку</div>

        <span class="footer_inc">
          © Раменский завод металлоконструкций 2020
        </span>
      </div>
    </div>
  </div>
</footer>
