<header class="header">
  <div class="container">
    <div class="header_wrapper">
      <img class="header_logo" src="images/logo.png" alt="logo" />

      <div class="header_content">
        <div class="header_loc_wrapper">
          <div class="header_loc">
            Московская область, Раменское, Дорожный проезд, д. 11
          </div>
          <span class="header_date">Понедельник - Суббота: 9:00 - 18:00</span>
          <a href="mailto:ramzavod@mail.ru" class="header_mail">
            ramzavod@mail.ru
          </a>
        </div>
        <div class="header_phone_wrapper">
          <a href="tel:+7 (495) 1200-66-3" class="header_phone">
            +7 (495) 1200-66-3
          </a>
          <a href="tel:+7 (800) 775-37-26" class="header_phone">
            +7 (800) 775-37-26
          </a>
        </div>
        <a href="#" class="header_link call--js">Заказать звонок</a>
      </div>
    </div>

    <nav>
      <ul class="header_menu">
        <li>
          <a class="header_menu_item" href="#"> О Компании</a>
        </li>
        <li>
          <a class="header_menu_item js--move" href=".price">Цены на сваи</a>
        </li>
        <li>
          <a class="header_menu_item js--move" href=".services">Услуги</a>
        </li>
        <li>
          <a class="header_menu_item js--move" href=".shares">Акции</a>
        </li>
        <li>
          <a class="header_menu_item js--move" href=".slider_wrapper">
            Фото работ
          </a>
        </li>
        <li>
          <a class="header_menu_item js--move" href=".footer">Контакты</a>
        </li>
      </ul>
    </nav>

    <h2 class="header_title">
      Завод Свайно-винтовых <span class="db"></span> конструкций
    </h2>

    <div class="z_wrapper">
      <div class="z_item">
        <img src="img/z_icon1.png" alt="icon" />
        <span>Собственное производство</span>
      </div>

      <div class="z_item">
        <img src="img/z_icon2.png" alt="icon" />
        <span>Кваливицированный персонал</span>
      </div>

      <div class="z_item">
        <img src="img/z_icon3.png" alt="icon" />
        <span>Собственный парк спецтехники</span>
      </div>

      <div class="z_item">
        <img src="img/z_icon4.png" alt="icon" />
        <span>Гарантия <span class="db"></span> на выполненные работы</span>
      </div>
    </div>

    <h3 class="header_subtitle">
      40 000 тонн - годовой объем производства, 30 000 м2 общая производственная
      площадь
    </h3>

    <a href=".price" class="scroll_btn next_scroll_btn js--move">
      <img src="img/arrow.png" alt="icon" />
    </a>
  </div>
</header>
