<div class="price">
  <div class="container">
    <h2 class="price_title">Прайс лист от завода-производителя</h2>
    <h3 class="price_subtitle">
      Все виды свайных конструкций имеют покрытие, устойчивое к влаге,
      абразивному износу, коррозии.
    </h3>

    <div class="line line--1"></div>
    <div class="line line--2"></div>
    <div class="line line--3"></div>
    <div class="line line--4"></div>
  </div>

  <div class="pt_wrapper">
    <div class="container container_horiz_line">
      <div class="pt_heading">
        <div class="pt_heading_item active" data-id="1">Ø 57 мм</div>
        <div class="pt_heading_item" data-id="2">Ø 76 мм</div>
        <div class="pt_heading_item" data-id="3">Ø 89 мм</div>
        <div class="pt_heading_item" data-id="4">Ø 108 мм</div>
        <div class="pt_heading_item" data-id="5">Ø 133 мм</div>
        <div class="pt_heading_item" data-id="6">Ø 159 мм</div>
        <div class="pt_heading_item" data-id="7">Ø 219 мм</div>
        <div class="pt_heading_item" data-id="8">Ø 325 мм</div>
      </div>
    </div>

    <div class="container">
      <div class="pt_content active" data-id="1">
        <table>
          <tr>
            <td>Наименование</td>
            <td>Длина сваи</td>
            <td>Толщина стенки</td>
            <td>Диаметр <span class="db"></span> лопасти</td>
            <td>Цена <span class="db"></span> (от 10 шт.)</td>
            <td>Цена оголовка</td>
            <td>Стоимость монтажа</td>
            <td>Стоимость <span class="db"></span> “под ключ”</td>
          </tr>

          <tr>
            <td>СВС-57 1650 мм</td>
            <td>1650 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1050 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 1800 мм</td>
            <td>1800 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1150 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2250 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2000 мм</td>
            <td>2000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1200 ₽</td>
            <td>200 ₽</td>
            <td>1000 ₽</td>
            <td>2400 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2500 мм</td>
            <td>2500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1350 ₽</td>
            <td>200 ₽</td>
            <td>1050 ₽</td>
            <td>2600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3000 мм</td>
            <td>3000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1450 ₽</td>
            <td>200 ₽</td>
            <td>1100 ₽</td>
            <td>2750 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3500 мм</td>
            <td>3500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1550 ₽</td>
            <td>200 ₽</td>
            <td>1150 ₽</td>
            <td>2900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4000 мм</td>
            <td>4000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1750 ₽</td>
            <td>200 ₽</td>
            <td>1200 ₽</td>
            <td>3150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4500 мм</td>
            <td>4500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1850 ₽</td>
            <td>200 ₽</td>
            <td>1300 ₽</td>
            <td>3350 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5000 мм</td>
            <td>5000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2000 ₽</td>
            <td>200 ₽</td>
            <td>1400 ₽</td>
            <td>3600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5500 мм</td>
            <td>5500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2200 ₽</td>
            <td>200 ₽</td>
            <td>1500 ₽</td>
            <td>3900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6000 мм</td>
            <td>6000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2360 ₽</td>
            <td>200 ₽</td>
            <td>1650 ₽</td>
            <td>4210 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6500 мм</td>
            <td>6500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2500 ₽</td>
            <td>200 ₽</td>
            <td>1750 ₽</td>
            <td>4450 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7000 мм</td>
            <td>7000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2650 ₽</td>
            <td>200 ₽</td>
            <td>1850 ₽</td>
            <td>4700 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7500 мм</td>
            <td>7500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2790 ₽</td>
            <td>200 ₽</td>
            <td>1950 ₽</td>
            <td>4940 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8000 мм</td>
            <td>8000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2940 ₽</td>
            <td>200 ₽</td>
            <td>2050 ₽</td>
            <td>5190 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8500 мм</td>
            <td>8500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>3080 ₽</td>
            <td>200 ₽</td>
            <td>2150 ₽</td>
            <td>5430 ₽</td>
          </tr>
        </table>
      </div>
      <div class="pt_content" data-id="2">
        <table>
          <tr>
            <td>Наименование</td>
            <td>Длина сваи</td>
            <td>Толщина стенки</td>
            <td>Диаметр <span class="db"></span> лопасти</td>
            <td>Цена<span class="db"></span> (от 10 шт.)</td>
            <td>Цена оголовка</td>
            <td>Стоимость монтажа</td>
            <td>Стоимость<span class="db"></span> “под ключ”</td>
          </tr>

          <tr>
            <td>СВС-57 1650 мм</td>
            <td>1650 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1050 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 1800 мм</td>
            <td>1800 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1150 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2250 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2000 мм</td>
            <td>2000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1200 ₽</td>
            <td>200 ₽</td>
            <td>1000 ₽</td>
            <td>2400 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2500 мм</td>
            <td>2500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1350 ₽</td>
            <td>200 ₽</td>
            <td>1050 ₽</td>
            <td>2600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3000 мм</td>
            <td>3000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1450 ₽</td>
            <td>200 ₽</td>
            <td>1100 ₽</td>
            <td>2750 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3500 мм</td>
            <td>3500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1550 ₽</td>
            <td>200 ₽</td>
            <td>1150 ₽</td>
            <td>2900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4000 мм</td>
            <td>4000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1750 ₽</td>
            <td>200 ₽</td>
            <td>1200 ₽</td>
            <td>3150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4500 мм</td>
            <td>4500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1850 ₽</td>
            <td>200 ₽</td>
            <td>1300 ₽</td>
            <td>3350 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5000 мм</td>
            <td>5000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2000 ₽</td>
            <td>200 ₽</td>
            <td>1400 ₽</td>
            <td>3600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5500 мм</td>
            <td>5500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2200 ₽</td>
            <td>200 ₽</td>
            <td>1500 ₽</td>
            <td>3900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6000 мм</td>
            <td>6000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2360 ₽</td>
            <td>200 ₽</td>
            <td>1650 ₽</td>
            <td>4210 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6500 мм</td>
            <td>6500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2500 ₽</td>
            <td>200 ₽</td>
            <td>1750 ₽</td>
            <td>4450 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7000 мм</td>
            <td>7000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2650 ₽</td>
            <td>200 ₽</td>
            <td>1850 ₽</td>
            <td>4700 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7500 мм</td>
            <td>7500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2790 ₽</td>
            <td>200 ₽</td>
            <td>1950 ₽</td>
            <td>4940 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8000 мм</td>
            <td>8000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2940 ₽</td>
            <td>200 ₽</td>
            <td>2050 ₽</td>
            <td>5190 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8500 мм</td>
            <td>8500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>3080 ₽</td>
            <td>200 ₽</td>
            <td>2150 ₽</td>
            <td>5430 ₽</td>
          </tr>
        </table>
      </div>
      <div class="pt_content" data-id="3">
        <table>
          <tr>
            <td>Наименование</td>
            <td>Длина сваи</td>
            <td>Толщина стенки</td>
            <td>Диаметр <span class="db"></span> лопасти</td>
            <td>Цена <span class="db"></span> (от 10 шт.)</td>
            <td>Цена оголовка</td>
            <td>Стоимость монтажа</td>
            <td>Стоимость <span class="db"></span> “под ключ”</td>
          </tr>

          <tr>
            <td>СВС-57 1650 мм</td>
            <td>1650 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1050 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 1800 мм</td>
            <td>1800 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1150 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2250 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2000 мм</td>
            <td>2000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1200 ₽</td>
            <td>200 ₽</td>
            <td>1000 ₽</td>
            <td>2400 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2500 мм</td>
            <td>2500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1350 ₽</td>
            <td>200 ₽</td>
            <td>1050 ₽</td>
            <td>2600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3000 мм</td>
            <td>3000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1450 ₽</td>
            <td>200 ₽</td>
            <td>1100 ₽</td>
            <td>2750 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3500 мм</td>
            <td>3500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1550 ₽</td>
            <td>200 ₽</td>
            <td>1150 ₽</td>
            <td>2900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4000 мм</td>
            <td>4000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1750 ₽</td>
            <td>200 ₽</td>
            <td>1200 ₽</td>
            <td>3150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4500 мм</td>
            <td>4500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1850 ₽</td>
            <td>200 ₽</td>
            <td>1300 ₽</td>
            <td>3350 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5000 мм</td>
            <td>5000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2000 ₽</td>
            <td>200 ₽</td>
            <td>1400 ₽</td>
            <td>3600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5500 мм</td>
            <td>5500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2200 ₽</td>
            <td>200 ₽</td>
            <td>1500 ₽</td>
            <td>3900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6000 мм</td>
            <td>6000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2360 ₽</td>
            <td>200 ₽</td>
            <td>1650 ₽</td>
            <td>4210 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6500 мм</td>
            <td>6500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2500 ₽</td>
            <td>200 ₽</td>
            <td>1750 ₽</td>
            <td>4450 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7000 мм</td>
            <td>7000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2650 ₽</td>
            <td>200 ₽</td>
            <td>1850 ₽</td>
            <td>4700 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7500 мм</td>
            <td>7500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2790 ₽</td>
            <td>200 ₽</td>
            <td>1950 ₽</td>
            <td>4940 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8000 мм</td>
            <td>8000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2940 ₽</td>
            <td>200 ₽</td>
            <td>2050 ₽</td>
            <td>5190 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8500 мм</td>
            <td>8500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>3080 ₽</td>
            <td>200 ₽</td>
            <td>2150 ₽</td>
            <td>5430 ₽</td>
          </tr>
        </table>
      </div>
      <div class="pt_content" data-id="4">
        <table>
          <tr>
            <td>Наименование</td>
            <td>Длина сваи</td>
            <td>Толщина стенки</td>
            <td>Диаметр <span class="db"></span> лопасти</td>
            <td>Цена <span class="db"></span> (от 10 шт.)</td>
            <td>Цена оголовка</td>
            <td>Стоимость монтажа</td>
            <td>Стоимость <span class="db"></span> “под ключ”</td>
          </tr>

          <tr>
            <td>СВС-57 1650 мм</td>
            <td>1650 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1050 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 1800 мм</td>
            <td>1800 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1150 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2250 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2000 мм</td>
            <td>2000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1200 ₽</td>
            <td>200 ₽</td>
            <td>1000 ₽</td>
            <td>2400 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2500 мм</td>
            <td>2500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1350 ₽</td>
            <td>200 ₽</td>
            <td>1050 ₽</td>
            <td>2600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3000 мм</td>
            <td>3000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1450 ₽</td>
            <td>200 ₽</td>
            <td>1100 ₽</td>
            <td>2750 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3500 мм</td>
            <td>3500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1550 ₽</td>
            <td>200 ₽</td>
            <td>1150 ₽</td>
            <td>2900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4000 мм</td>
            <td>4000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1750 ₽</td>
            <td>200 ₽</td>
            <td>1200 ₽</td>
            <td>3150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4500 мм</td>
            <td>4500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1850 ₽</td>
            <td>200 ₽</td>
            <td>1300 ₽</td>
            <td>3350 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5000 мм</td>
            <td>5000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2000 ₽</td>
            <td>200 ₽</td>
            <td>1400 ₽</td>
            <td>3600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5500 мм</td>
            <td>5500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2200 ₽</td>
            <td>200 ₽</td>
            <td>1500 ₽</td>
            <td>3900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6000 мм</td>
            <td>6000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2360 ₽</td>
            <td>200 ₽</td>
            <td>1650 ₽</td>
            <td>4210 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6500 мм</td>
            <td>6500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2500 ₽</td>
            <td>200 ₽</td>
            <td>1750 ₽</td>
            <td>4450 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7000 мм</td>
            <td>7000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2650 ₽</td>
            <td>200 ₽</td>
            <td>1850 ₽</td>
            <td>4700 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7500 мм</td>
            <td>7500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2790 ₽</td>
            <td>200 ₽</td>
            <td>1950 ₽</td>
            <td>4940 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8000 мм</td>
            <td>8000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2940 ₽</td>
            <td>200 ₽</td>
            <td>2050 ₽</td>
            <td>5190 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8500 мм</td>
            <td>8500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>3080 ₽</td>
            <td>200 ₽</td>
            <td>2150 ₽</td>
            <td>5430 ₽</td>
          </tr>
        </table>
      </div>
      <div class="pt_content" data-id="5">
        <table>
          <tr>
            <td>Наименование</td>
            <td>Длина сваи</td>
            <td>Толщина стенки</td>
            <td>Диаметр <span class="db"></span> лопасти</td>
            <td>Цена <span class="db"></span> (от 10 шт.)</td>
            <td>Цена оголовка</td>
            <td>Стоимость монтажа</td>
            <td>Стоимость <span class="db"></span> “под ключ”</td>
          </tr>

          <tr>
            <td>СВС-57 1650 мм</td>
            <td>1650 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1050 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 1800 мм</td>
            <td>1800 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1150 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2250 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2000 мм</td>
            <td>2000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1200 ₽</td>
            <td>200 ₽</td>
            <td>1000 ₽</td>
            <td>2400 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2500 мм</td>
            <td>2500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1350 ₽</td>
            <td>200 ₽</td>
            <td>1050 ₽</td>
            <td>2600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3000 мм</td>
            <td>3000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1450 ₽</td>
            <td>200 ₽</td>
            <td>1100 ₽</td>
            <td>2750 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3500 мм</td>
            <td>3500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1550 ₽</td>
            <td>200 ₽</td>
            <td>1150 ₽</td>
            <td>2900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4000 мм</td>
            <td>4000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1750 ₽</td>
            <td>200 ₽</td>
            <td>1200 ₽</td>
            <td>3150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4500 мм</td>
            <td>4500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1850 ₽</td>
            <td>200 ₽</td>
            <td>1300 ₽</td>
            <td>3350 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5000 мм</td>
            <td>5000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2000 ₽</td>
            <td>200 ₽</td>
            <td>1400 ₽</td>
            <td>3600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5500 мм</td>
            <td>5500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2200 ₽</td>
            <td>200 ₽</td>
            <td>1500 ₽</td>
            <td>3900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6000 мм</td>
            <td>6000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2360 ₽</td>
            <td>200 ₽</td>
            <td>1650 ₽</td>
            <td>4210 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6500 мм</td>
            <td>6500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2500 ₽</td>
            <td>200 ₽</td>
            <td>1750 ₽</td>
            <td>4450 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7000 мм</td>
            <td>7000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2650 ₽</td>
            <td>200 ₽</td>
            <td>1850 ₽</td>
            <td>4700 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7500 мм</td>
            <td>7500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2790 ₽</td>
            <td>200 ₽</td>
            <td>1950 ₽</td>
            <td>4940 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8000 мм</td>
            <td>8000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2940 ₽</td>
            <td>200 ₽</td>
            <td>2050 ₽</td>
            <td>5190 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8500 мм</td>
            <td>8500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>3080 ₽</td>
            <td>200 ₽</td>
            <td>2150 ₽</td>
            <td>5430 ₽</td>
          </tr>
        </table>
      </div>
      <div class="pt_content" data-id="6">
        <table>
          <tr>
            <td>Наименование</td>
            <td>Длина сваи</td>
            <td>Толщина стенки</td>
            <td>Диаметр <span class="db"></span> лопасти</td>
            <td>Цена <span class="db"></span> (от 10 шт.)</td>
            <td>Цена оголовка</td>
            <td>Стоимость монтажа</td>
            <td>Стоимость <span class="db"></span> “под ключ”</td>
          </tr>

          <tr>
            <td>СВС-57 1650 мм</td>
            <td>1650 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1050 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 1800 мм</td>
            <td>1800 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1150 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2250 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2000 мм</td>
            <td>2000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1200 ₽</td>
            <td>200 ₽</td>
            <td>1000 ₽</td>
            <td>2400 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2500 мм</td>
            <td>2500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1350 ₽</td>
            <td>200 ₽</td>
            <td>1050 ₽</td>
            <td>2600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3000 мм</td>
            <td>3000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1450 ₽</td>
            <td>200 ₽</td>
            <td>1100 ₽</td>
            <td>2750 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3500 мм</td>
            <td>3500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1550 ₽</td>
            <td>200 ₽</td>
            <td>1150 ₽</td>
            <td>2900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4000 мм</td>
            <td>4000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1750 ₽</td>
            <td>200 ₽</td>
            <td>1200 ₽</td>
            <td>3150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4500 мм</td>
            <td>4500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1850 ₽</td>
            <td>200 ₽</td>
            <td>1300 ₽</td>
            <td>3350 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5000 мм</td>
            <td>5000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2000 ₽</td>
            <td>200 ₽</td>
            <td>1400 ₽</td>
            <td>3600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5500 мм</td>
            <td>5500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2200 ₽</td>
            <td>200 ₽</td>
            <td>1500 ₽</td>
            <td>3900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6000 мм</td>
            <td>6000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2360 ₽</td>
            <td>200 ₽</td>
            <td>1650 ₽</td>
            <td>4210 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6500 мм</td>
            <td>6500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2500 ₽</td>
            <td>200 ₽</td>
            <td>1750 ₽</td>
            <td>4450 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7000 мм</td>
            <td>7000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2650 ₽</td>
            <td>200 ₽</td>
            <td>1850 ₽</td>
            <td>4700 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7500 мм</td>
            <td>7500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2790 ₽</td>
            <td>200 ₽</td>
            <td>1950 ₽</td>
            <td>4940 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8000 мм</td>
            <td>8000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2940 ₽</td>
            <td>200 ₽</td>
            <td>2050 ₽</td>
            <td>5190 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8500 мм</td>
            <td>8500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>3080 ₽</td>
            <td>200 ₽</td>
            <td>2150 ₽</td>
            <td>5430 ₽</td>
          </tr>
        </table>
      </div>
      <div class="pt_content" data-id="7">
        <table>
          <tr>
            <td>Наименование</td>
            <td>Длина сваи</td>
            <td>Толщина стенки</td>
            <td>Диаметр <span class="db"></span> лопасти</td>
            <td>Цена <span class="db"></span> (от 10 шт.)</td>
            <td>Цена оголовка</td>
            <td>Стоимость монтажа</td>
            <td>Стоимость <span class="db"></span> “под ключ”</td>
          </tr>

          <tr>
            <td>СВС-57 1650 мм</td>
            <td>1650 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1050 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 1800 мм</td>
            <td>1800 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1150 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2250 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2000 мм</td>
            <td>2000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1200 ₽</td>
            <td>200 ₽</td>
            <td>1000 ₽</td>
            <td>2400 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2500 мм</td>
            <td>2500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1350 ₽</td>
            <td>200 ₽</td>
            <td>1050 ₽</td>
            <td>2600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3000 мм</td>
            <td>3000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1450 ₽</td>
            <td>200 ₽</td>
            <td>1100 ₽</td>
            <td>2750 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3500 мм</td>
            <td>3500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1550 ₽</td>
            <td>200 ₽</td>
            <td>1150 ₽</td>
            <td>2900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4000 мм</td>
            <td>4000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1750 ₽</td>
            <td>200 ₽</td>
            <td>1200 ₽</td>
            <td>3150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4500 мм</td>
            <td>4500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1850 ₽</td>
            <td>200 ₽</td>
            <td>1300 ₽</td>
            <td>3350 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5000 мм</td>
            <td>5000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2000 ₽</td>
            <td>200 ₽</td>
            <td>1400 ₽</td>
            <td>3600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5500 мм</td>
            <td>5500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2200 ₽</td>
            <td>200 ₽</td>
            <td>1500 ₽</td>
            <td>3900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6000 мм</td>
            <td>6000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2360 ₽</td>
            <td>200 ₽</td>
            <td>1650 ₽</td>
            <td>4210 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6500 мм</td>
            <td>6500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2500 ₽</td>
            <td>200 ₽</td>
            <td>1750 ₽</td>
            <td>4450 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7000 мм</td>
            <td>7000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2650 ₽</td>
            <td>200 ₽</td>
            <td>1850 ₽</td>
            <td>4700 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7500 мм</td>
            <td>7500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2790 ₽</td>
            <td>200 ₽</td>
            <td>1950 ₽</td>
            <td>4940 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8000 мм</td>
            <td>8000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2940 ₽</td>
            <td>200 ₽</td>
            <td>2050 ₽</td>
            <td>5190 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8500 мм</td>
            <td>8500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>3080 ₽</td>
            <td>200 ₽</td>
            <td>2150 ₽</td>
            <td>5430 ₽</td>
          </tr>
        </table>
      </div>
      <div class="pt_content" data-id="8">
        <table>
          <tr>
            <td>Наименование</td>
            <td>Длина сваи</td>
            <td>Толщина стенки</td>
            <td>Диаметр <span class="db"></span> лопасти</td>
            <td>Цена <span class="db"></span> (от 10 шт.)</td>
            <td>Цена оголовка</td>
            <td>Стоимость монтажа</td>
            <td>Стоимость <span class="db"></span> “под ключ”</td>
          </tr>

          <tr>
            <td>СВС-57 1650 мм</td>
            <td>1650 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1050 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 1800 мм</td>
            <td>1800 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1150 ₽</td>
            <td>200 ₽</td>
            <td>900 ₽</td>
            <td>2250 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2000 мм</td>
            <td>2000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1200 ₽</td>
            <td>200 ₽</td>
            <td>1000 ₽</td>
            <td>2400 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 2500 мм</td>
            <td>2500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1350 ₽</td>
            <td>200 ₽</td>
            <td>1050 ₽</td>
            <td>2600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3000 мм</td>
            <td>3000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1450 ₽</td>
            <td>200 ₽</td>
            <td>1100 ₽</td>
            <td>2750 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 3500 мм</td>
            <td>3500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1550 ₽</td>
            <td>200 ₽</td>
            <td>1150 ₽</td>
            <td>2900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4000 мм</td>
            <td>4000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1750 ₽</td>
            <td>200 ₽</td>
            <td>1200 ₽</td>
            <td>3150 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 4500 мм</td>
            <td>4500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>1850 ₽</td>
            <td>200 ₽</td>
            <td>1300 ₽</td>
            <td>3350 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5000 мм</td>
            <td>5000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2000 ₽</td>
            <td>200 ₽</td>
            <td>1400 ₽</td>
            <td>3600 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 5500 мм</td>
            <td>5500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2200 ₽</td>
            <td>200 ₽</td>
            <td>1500 ₽</td>
            <td>3900 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6000 мм</td>
            <td>6000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2360 ₽</td>
            <td>200 ₽</td>
            <td>1650 ₽</td>
            <td>4210 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 6500 мм</td>
            <td>6500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2500 ₽</td>
            <td>200 ₽</td>
            <td>1750 ₽</td>
            <td>4450 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7000 мм</td>
            <td>7000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2650 ₽</td>
            <td>200 ₽</td>
            <td>1850 ₽</td>
            <td>4700 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 7500 мм</td>
            <td>7500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2790 ₽</td>
            <td>200 ₽</td>
            <td>1950 ₽</td>
            <td>4940 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8000 мм</td>
            <td>8000 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>2940 ₽</td>
            <td>200 ₽</td>
            <td>2050 ₽</td>
            <td>5190 ₽</td>
          </tr>

          <tr>
            <td>СВС-57 8500 мм</td>
            <td>8500 мм</td>
            <td>3.5 мм</td>
            <td>250 мм</td>
            <td>3080 ₽</td>
            <td>200 ₽</td>
            <td>2150 ₽</td>
            <td>5430 ₽</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <a href="#" class="pt_btn"> Оставить заявку</a>
</div>
