<div class="schema">
  <div class="container">
    <h2 class="schema_title">Схема работы</h2>
    <div class="line line--1"></div>
    <div class="line line--2"></div>
    <div class="line line--3"></div>
    <div class="line line--4"></div>
    <div class="schema_catalog">
      <div class="schema_item">
        <img src="img/s_icon1.png" alt="icon" class="schema_icon" />
        <span class="schema_subtitle">Выезд на пробное бурение</span>
        <div class="schema_count">01</div>
      </div>

      <div class="schema_item">
        <img src="img/s_icon2.png" alt="icon" class="schema_icon" />
        <span class="schema_subtitle"
          >Составление сметы <span class="db"></span> и заключение
          <span class="db"></span> договора</span
        >
        <div class="schema_count">02</div>
      </div>

      <div class="schema_item">
        <img src="img/s_icon3.png" alt="icon" class="schema_icon" />
        <span class="schema_subtitle"
          >Выезд бригады<span class="db"></span> и доставка
          <span class="db"></span> материалов</span
        >
        <div class="schema_count">03</div>
      </div>

      <div class="schema_item">
        <img src="img/s_icon4.png" alt="icon" class="schema_icon" />
        <span class="schema_subtitle">Монтаж</span>
        <div class="schema_count">04</div>
      </div>

      <div class="schema_item">
        <img src="img/s_icon5.png" alt="icon" class="schema_icon" />
        <span class="schema_subtitle">Сдача обекта</span>
        <div class="schema_count">05</div>
      </div>

      <div class="schema_item">
        <img src="img/s_icon6.png" alt="icon" class="schema_icon" />
        <span class="schema_subtitle">Получение оплаты</span>
        <div class="schema_count">06</div>
      </div>
    </div>
  </div>
</div>
