<div class="services">
  <div class="container">
    <h2 class="services_title">Услуги</h2>

    <div class="services_catalog">
      <div class="services_item">
        <img src="images/serv1.png" alt="image" class="services_image" />
        <div class="services_heading">Монтаж свай под ключ</div>
        <span class="services_discription">
          Установка свайно-винтового фундамента позволяет сформировать
          устойчивое основание для дома на участке с просадочным грунтом,
          сложным рельефом, большими перепадами по высоте.
        </span>
      </div>

      <div class="services_item">
        <img src="images/serv2.png" alt="image" class="services_image" />
        <div class="services_heading">Подъем домов на сваи</div>
        <span class="services_discription">
          Замена фундамента требуется в том случае если имеющееся основание,
          начало разрушаться и больше не может выполнять свои функции. Смена
          фундамента на винтовые сваи, под существующим строением, позволит
          предотвратить дальнейшее разрушение.
        </span>
      </div>

      <div class="services_item">
        <img src="images/serv3.png" alt="image" class="services_image" />
        <div class="services_heading">Обвязка свай</div>
        <span class="services_discription">
          Качество и прочность свайного фундамента зависит от того, насколько
          точно соблюдалась технология на каждом этапе его возведения.
          Заключительным и наиболее ответственным этапом обустройства такого
          основания является обвязка.
        </span>
      </div>
    </div>
  </div>
</div>
